$banner-largest: 1760px;
$banner-medium: 1160px;
$banner-small: 768px;
$banner-smallest: 320px;

footer {
  background-color: #C6C5C6;
  margin-top: 140px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 91px;
    background-image: url("../assets/footerWave.svg");
    background-size: cover;
    position: absolute;
    top: -25%;
    right: 50%;
    transform: translate(50%);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;

  &--list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;

    &-title {
      font-size: 24px;
      font-weight: 500;
    }

    &-item {
      font-size: 20px;
      font-weight: 300;

      a {
        color: #222B39;
        text-decoration: none;
      }
    }
  }
}
@media (max-width: $banner-small) {
  footer {
    &::before {
      top: -18%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;

    &--list {
      text-align: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
    }
  }
}